html{
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #ff4b4b;
    width: 100%;
    height: 30vh;

}

div {
    background-color: #abffa8;
    margin: 60px 0px;
    width: 95%;
    height: 40vh;
}

p{
    width: 80%;
    font-size: 1rem;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 768px){
    html{
        font-size: 14px;
    }

    header {
        background-color: rgb(204, 0, 255);
        width: 80%;
    }

    div {
        height: 80vh;
    }
}

/* Telefono */
@media (max-width: 600px){
    html{
        font-size: 12px;
    }

    header {
        background-color: #f9ff4b;
        width: 100%;}

    div {
        height: 100%;
        margin: 0px 0px 70px 0px;
    }
}
    